<!DOCTYPE html>
<html>
<head>
<title>Car service</title>
<meta charset="utf-8">
 <title th:text="#{check.status}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div class="index">
<h1 th:text="#{check.car}"></h1>
<h2 th:text="#{enter.data}"></h2>
<form action="#" th:action="@{/customer/yourCar}"
			th:object="${submitInfo}" method="post">
		<div>
			<div class="row">
				<div class="col-50">
					<label for="numberPlate" th:text="#{num.plate}"></label> 
				</div>
				<div class="col-50">
					<input type="text" th:field="${submitInfo.plate}" id="numberPlate"
						placeholder="Number plate"> 
				</div>
			</div>
			<div class="row">
				<div class="col-50">
					<label for="phoneNum" th:text="#{owner.number.input}"></label>
				</div>
				<div class="col-50">
					<input type="number" th:field="${submitInfo.phone}" id="phoneNum"
					placeholder="Phone number"> 
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-block btn-large" th:text="#{find}"></button>
			</div>
	</form>
</div>
	
</body>
</html>