<!DOCTYPE html>
<html>
<head>
    <title>Car service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
  <body>
  <th:block th:include="/_header"></th:block>
  <div class="index">
    <h1 th:text="#{greeting}"></h1>
    <div th:if="${param.logout}">
    You have been logged out.
	</div>
   <p>
    <a class="btn btn-primary btn-block btn-large" href="/login" >Login</a>>
	</p>
		 <p>
			<a class="btn btn-primary btn-block btn-large" 
			href="/customer/find" th:text="#{check.car}"></a>
		</p> 
	</div>
  </body>
</html>
