<!DOCTYPE html>
<html>
<head>
    <title th:text="#{car.service}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
  <body>
  <th:block th:include="/_header"></th:block>
  <div class="index">
     <div th:if="${param.logout}">
    <h3 th:text="#{logged.out}"></h3>
	</div>
    <h1 th:text="#{greeting}"></h1>
   <p sec:authorize="!isAuthenticated()">
    <a class="btn btn-primary btn-block btn-large" href="/login" th:text="#{log.in}"></a>
	</p>
		 <p sec:authorize="!isAuthenticated()">
			<a class="btn btn-primary btn-block btn-large" 
			href="/customer/find" th:text="#{check.car}"></a>
		</p> 
		 <p sec:authorize="hasRole('ROLE_USER')">
			<a class="btn btn-primary btn-block btn-large" 
			href="/technician/all" th:text="#{car.list}"></a>
		</p> 
		 <p sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-block btn-large" 
			href="/service-advisor/all" th:text="#{car.list}"></a>
		</p> 
	</div>
  </body>
</html>
