<!DOCTYPE html>
<html>
<head>
<title>Car service</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div class="index">
<h2 th:text="#{create.task}">:</h2>
<h3 th:text="${car.numberPlate}"></h3>

<form action="#" th:action="@{/service-advisor/saveTask/{carId}(carId=${car.id})}"
			th:object="${task}" method="post">
	<div>
		<div class="row">
			<div class="col-25">
				<label for="taskName" th:text="#{task}"></label> 
			</div>
			<div class="col-75">
				<input class="form-check-input w-auto" type="text" th:field="${task.taskName}" id="taskName"
					placeholder="Task name">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="taskStatus" th:text="#{status}"></label> 
			</div>
			<div class="col-75">	
				<select th:field="${task.taskStatus}" id="taskStatus">
					<option value=""></option>
					<option th:each="status : ${T(lt.codeacademy.learn.project.models.Status).values()}"
						th:value="${status}"
                        th:text="${status}">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label class="form-check-label w-25" for="comment" th:text="#{comment}"></label> 
			</div>
			<div class="col-75">	
				<input class="form-check-input w-auto" type="text" th:field="${task.comment}" id="comment"
					placeholder="Comment"> 
			</div>
		</div>
			<button type="submit" class="btn btn-dark" th:text="#{save}"></button>
		</div>	
	</form>
</div>
</body>
</html>