<!DOCTYPE html>
<html>
<head>
<title th:text="#{order.details}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div>
	<table class="top-table">
		<tr>
			<th th:text="#{num.plate}">:</th>
			<td th:text="${car.numberPlate}"></td>
		</tr>
		<tr>
			<th th:text="#{manufact}">:</th>
			<td th:text="${car.manufacturer}"></td>
		</tr>
		<tr>
			<th th:text="#{year.manuf}">:</th>
			<td th:text="${car.yearOfManufact}"></td>
		</tr>
		<tr>
			<th th:text="#{owner.name}">:</th>
			<td th:text="${car.ownerName}"></td>
		</tr>
		<tr>
			<th th:text="#{owner.number}">:</th>
			<td th:text="${car.phoneNum}"></td>
		</tr>
		<tr>
			<th th:text="#{complaint}">:</th>
			<td th:text="${car.primaryComplaint}"></td>
		</tr>
	</table>
	</div>
		<div>
		<h2 th:text="#{tasks}">:</h2>
		</div>
		<div class="tbl-header">
			<table class="data-table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th th:text="#{task}"></th>
						<th th:text="#{status}"></th>
						<th th:text="#{comment}"></th>
						<th th:text="#{edit}"></th>
						<th th:text="#{delete}"></th>
					</tr>
				</thead>
				</table>
		 </div>
		 <div class="tbl-content-tasks">
		   <table class="data-table" cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr th:each="task : ${car.tasks}">
						<td th:text="${task.taskName}"></td>
						<td th:text="${task.taskStatus}"></td>
						<td th:text="${task.comment}"></td>
						<td><a class="btn btn-dark" th:href="@{/service-advisor/editTask/{id}(id=${task.id})}">--></a>
						<td><a class="btn btn-warning" th:href="@{/service-advisor/deleteTask/{id}(id=${task.id})}" th:text="#{delete}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a class="btn btn-primary" th:href="@{/service-advisor/addTask/{id}(id=${car.id})}" th:text="#{new.task}"></a>
		</p>	
		<div  class="update-form">
		<form class="form-control" action="#"
		th:action="@{/service-advisor/updateCar/{id}(id=${car.id})}" th:object="${car}"
		method="post">
		<input type="hidden" th:field="*{numberPlate}"
			id="numberPlate"> 
		<input type="hidden" th:field="*{manufacturer}"
			id="manufacturer">
		<input type="hidden" th:field="*{yearOfManufact}"
			id="yearOfManufact">
		<input type="hidden" th:field="*{ownerName}"
			id="ownerName">
		<input type="hidden" th:field="*{phoneNum}"
			id="phoneNum">
		<input type="hidden" th:field="*{primaryComplaint}"
			id="primaryComplaint">
		<input type="hidden" th:field="*{tasks}"
			id="tasks">
	 <div class="row">
    	<div class="col-lbl">
			<label for="status" th:text="#{rep.status}">:</label> 
		</div>
   		<div class="col">
			<select th:field="${car.status}" id="status">
					<option value=""></option>
					<option th:each="status : ${T(lt.codeacademy.learn.project.models.Status).values()}"
						th:value="${status}"
                        th:text="${status}">
				</select>
			<span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</span>
		</div>
   	 	<div class="col-lbl">
			<label for="cost" th:text="#{rep.cost}">, EUR: </label> 
		</div>
      	<div class="col">
			<input type="number" step="0.01" th:field="*{cost}"
				id="cost" placeholder="cost"> 
			<span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Cost Error</span>
		</div>   
		<div class="col-btn">
			<input	type="submit" value="Update Car">
  		</div>
		<!-- <input	type="submit" value="Update Car"> -->
		</div>
	</form>	

<p>
	<a class="btn btn-primary" href="/service-advisor/all" th:text="#{back}"></a>
	<!--	<a class="btn btn-" href="/logout" th:text="#{log.out}"></a>-->	
</p>
</div>
</body>
</html>