<!DOCTYPE html>
<html>
<head>
<title th:text="#{order.details}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
	<div>
	<table class="top-table">
		<tr>
			<th th:text="#{num.plate}">:</th>
			<td th:text="${car.numberPlate}"></td>
		</tr>
		<tr>
			<th th:text="#{manufact}">:</th>
			<td th:text="${car.manufacturer}"></td>
		</tr>
		<tr>
			<th th:text="#{year.manuf}">:</th>
			<td th:text="${car.yearOfManufact}"></td>
		</tr>
		<tr>
			<th th:text="#{owner.name}">:</th>
			<td th:text="${car.ownerName}"></td>
		</tr>
		<tr>
			<th th:text="#{owner.number}">:</th>
			<td th:text="${car.phoneNum}"></td>
		</tr>
		<tr>
			<th th:text="#{complaint}">:</th>
			<td th:text="${car.primaryComplaint}"></td>
		</tr>
	</table>
	</div>
		<div>
		<h2 th:text="#{tasks}">:</h2>
		</div>
		<div class="tbl-header">
			<table class="data-table" cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th th:text="#{task}"></th>
						<th th:text="#{status}"></th>
						<th th:text="#{comment}"></th>
						<th th:text="#{edit}"></th>
					</tr>
				</thead>
			</table>
		 </div>
		 <div class="tbl-content-tasks">
		   <table class="data-table" cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr th:each="task : ${car.tasks}">
						<td th:text="${task.taskName}"></td>
						<td th:text="${task.taskStatus}"></td>
						<td th:text="${task.comment}"></td>
						<td><a class="btn btn-dark" th:href="@{/technician/editTask/{id}(id=${task.id})}" th:text="#{edit}"></a>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="status-info">
			<div class="row">
				<div class="col-lbl">
					<label th:text="#{rep.status}"></label>
				</div>
				<div class="col">
					<a th:text="${car.status}"></a>
				</div>
				<div class="col-lbl">
					<label th:text="#{rep.cost}"></label>
				</div>
				<div class="col">
					<a th:text="${car.cost}"></a>
				</div>
			</div>
		
		<p>
			<a class="btn btn-primary" href="/" th:text="#{back}"></a>
		</p>
		</div>

</body>
</html>