<!DOCTYPE html>
<html>
<head>
<title th:text="#{edit.task}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<div  class="login">
	
	<form action="#"
		th:action="@{/technician/updateTask/{id}(id=${task.id})}" th:object="${task}"
		method="post">
	 <div>
     <label for="taskName" th:text="#{task}"></label> 
     <span><input type="text" th:field="*{taskName}"
                  id="taskName" placeholder="Task name"> </span>
     </div>
   	 	<div>
			<label for="taskStatus" th:text="#{status}"></label> 
        <span><select th:field="${task.taskStatus}" id="status">
					<option value=""></option>
					<option th:each="status : ${T(lt.codeacademy.learn.project.models.Status).values()}"
						th:value="${status}"
                        th:text="${status}">
          </select></span>
        </div>
   	 	<div>
		<label for="comment" th:text="#{comment}"></label> 
        <span><input type="text" th:field="*{comment}"
			id="taskStatus" placeholder="Comment"> 
		<input type="hidden" th:field="*{car}"
           id="car_id" placeholder="Car id"> </span>
         </div>   
		<input	type="submit"  th:value="#{save}">
	</form>	
</div>
</body>
</html>
